
<div class="flash {{cat}}">{{msg}}</div>

<form action="" method="post" class="form-contact">
<p><label>sort: </label> <input type="text" name="sort" value="" required />
<p><label>Size: </label> <input type="text" name="size" value="" required />
<p><label>timeSm: </label> <input type="text" name="timeSm" value="" required />
<p><label>timeHot: </label> <input type="text" name="timeHot" value="" required />
<p><label>timeChill: </label> <input type="text" name="timeChill" value="" required />
<p><label>info: </label> <input type="text" name="info" value="" required />
<p><input type="submit" value="Создать программу" />
</form>
